form {
  display: grid;
  grid-template-columns: 180px;
  justify-content: center;
  grid-gap: 10px;
}

#btnCount {
  padding: 20px;
  font-size: 16px;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 15vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
